<form class="game-form">
  <div class="form-container">
    <div class="card">
      <div class="card-header">
        <h3>Player Information</h3>
      </div>
      <div class="card-body">
        <!-- User ID Field -->
        <div class="form-field" *ngIf="this.pageId">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="userId"
              (input)="onIdInputChange($event)"
              name="id"
              placeholder="Enter User's ID"
            />
            <!-- <label for="userId"> <i class="fas fa-user"></i>User ID </label> -->
          </div>
        </div>
        <!-- User Tag Field -->
        <div class="form-field" *ngIf="this.pageUserId">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="userTag"
              (input)="onUserIdInputChange($event)"
              name="tag"
              placeholder="Enter User's ID"
            />
            <!-- <label for="userTag"> <i class="fas fa-tag"></i>User Tag </label> -->
          </div>
        </div>

        <!-- Server Number Field -->
        <div class="form-field" *ngIf="this.pageServer">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="serverNumber"
              (input)="onServerInputChange($event)"
              name="server"
              placeholder="Enter User's Server"
            />
            <!-- <label for="serverNumber">
              <i class="fas fa-server"></i>Server Number
            </label> -->
          </div>
        </div>

        <!-- Zone ID Field -->
        <div class="form-field" *ngIf="this.pageZoneId">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="zoneId"
              (input)="onZoneIdInputChange($event)"
              name="zoneId"
              placeholder="Enter User's Zone ID"
            />
            <!-- <label for="zoneId">
              <i class="fas fa-map-marker-alt"></i>Zone ID
            </label> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
